<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Text Synthesis App</title>

</head>
<body>
   <div class="container">
       <h1>Text Synthesis App</h1>
       <div class="row">
        <form class="col s12" >
          <div class="row">
            <div class="input-field col s12">

              <textarea id="textarea1"   ></textarea>
              
            </div>
          </div>
          <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light" id="gen">Generate
                  </button>
            </div>   
            <div class="col s6">
              <button class="btn waves-effect waves-light" id="more" style="display: none;">More
                </button>
          </div>           
          </div>
         <div class="row">
            <div class="col s12">
              <pre id="textoutput"  ></pre>          
              </textarea>
            </div>            
          </div>
        
          </form>
       </div>
       
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='effects.js') }}" ></script>

</body>
</html>